/* custom.css */
#header {
	background-color: #7db4b5;
	color: #e0eff1;
}
#menu {
	background-color: #444;
	color: #e0eff1;
}
#workspace {
	padding-top: 10px;
	min-height: 400px;
	background-color: #fff;
}
#footer {
	min-height: 50px;
	background-color: #7db4b5;
	color: #e0eff1;
}
media (min-width: 992px)
..divider {
    background-color: #fff;
}
..divider {
    background-color: #d9dadc;
}
@media (min-width: 992px)
.divider {
    margin-top: 32px;
    margin-bottom: 32px;
    height: 16px;
    width: 1px;
    margin-left: 17px;
    margin-right: 17px;
}
@media (min-width: 992px)
.navbar-nav>li {
    float: left;
}
.clear-pad { padding: 0px!important; }
.top-bar{
  float: left;
  background-color: black;
  padding: 13px 0;
  height: 100%;
  width: 100%;
}
.topbar-info li a{
  font-family: verdana;
  float: right;
  font-size: 20px;
  letter-spacing: 0;
  margin-right: 20px;
  color: #349fab;
}
.topbar-info li{
  list-style: none;
