/* custom.css */
#header {
	background-color: #7db4b5;
	color: #e0eff1;
}
#menu {
	background-color: #444;
	color: #e0eff1;
}
#workspace {
	padding-top: 10px;
	min-height: 400px;
	background-color: #fff;
}
#footer {
	min-height: 50px;
	background-color: #7db4b5;
	color: #e0eff1;
}
media (min-width: 992px)
..divider {
    background-color: #fff;
}
..divider {
    background-color: #d9dadc;
}
@media (min-width: 992px)
.divider {
    margin-top: 32px;
    margin-bottom: 32px;
    height: 16px;
    width: 1px;
    margin-left: 17px;
    margin-right: 17px;
}
@media (min-width: 992px)
.navbar-nav>li {
    float: left;
}
.clear-pad { padding: 0px!important; }
.top-bar{
  float: left;
  background-color: black;
  padding: 13px 0;
  height: 100%;
  width: 100%;
}
.topbar-info li a{
  font-family: verdana;
  float: right;
  font-size: 20px;
  letter-spacing: 0;
  margin-right: 20px;
  color: #349fab;
}
.topbar-info li{
  list-style: none;
}

#intro-bg {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../images/intro-bg.jpg) no-repeat center center fixed;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
#intro .intro-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#intro .intro-body .brand-heading {
	color: #E75926;
	text-shadow: 0 4px #a13e1a;
}
#intro .intro-body .intro-text {
	font-size: 18px;
}

@media(min-width:768px) {
#intro {
	height: 100%;
	padding: 0;
}
#intro .intro-body .intro-text {
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 100px;
	color: rgba(255,255,255,0.9);
}
}
.btn-default {
	color: #777;
	background: #cf5022;
	border: 0;
	padding: 12px 24px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #f6f6f6;
	background-color: #f6f6f6;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}

/*login section*/
.login-top-header{
    background: #fff !important;
    position: relative;
    width: 100%;
    z-index: 99999;
}

.login-caption {
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right: 100px;
		margin-left: 100px;
    background: #ffff;
}
.login-heading h2 {
    color: #3a9dca;
    font-size: 90px;
}
.login-info {
    padding-left: 40px;
}
.login-contact-form h3 {
    padding-left: 0;
    font-size: 30px;
    color: #3a9dca;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #13849c;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.login-info h3 {
    padding-left: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #13849c;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.login-form h3 {
    padding-left: 0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #13849c;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.login-info ul {
    margin: 0;
    padding: 0;
}
.login-info ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
.login-info i.fa {
    font-size: 16px;
    padding-right: 12px;
    width: 25px;
    height: 38px;
}
.login-info ul li span {
    font-weight: bold;
}
.login-form input {
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 13px;
    color: #084a5c;
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    border: 0;
    margin-bottom: 12px;
}
.login-form textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 12px;
    width: 100%;
    height: 140px;
    border: 0;
    margin-bottom: 12px;
}
.login-info-detail {
    border-top: 1px solid #53cde5;
    padding-top: 15px;
}
.form-login {
    border-top: 1px solid #53cde5;
    padding-top: 15px;
    text-align: right;
}
.login-contact-form input.submit-btn {
    width: 180px;
    height: 50px;
    float: right;
    font-size: 24px;
    color: #000;
    background: url(../img/btn-bg.jpg);
    background-repeat: no-repeat;
    padding: 0;
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
}
.login-contact-form {
    padding-right: 40px;
}
