.siglog {
    font-size: small;
    margin-top: 10px;
    padding-bottom: 25px;
    border-color: #146eb4;

}
.siglog > li > a {
    color: #ff9900;
}
.siglog > li > a:hover {
    background-color: #146eb4;
    color: #fff;
}
.siglog > li > a:focus {
    background-color: #146eb4;
    color: #fff;
}
#sig {
    margin-left: 25px;
}
li {
    list-style-type:none;
}


.content {
    margin: 0;
    padding: 0px;
}
.content a.button {
    display: inline-block;
    padding: 10px 20px;
    background: ;
    color: #000;
    text-decoration: none;
}
.content.white {
    background: #fff;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0!important;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    padding: 10px 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #111;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #282828;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}
.navbar-default .navbar-toggle {
    border-color: #202020;
}
.navbar-default .navbar-toggle .icon-bar {
   background-color: #ffffff;
}
.navbar-brand {
    float: left;
    padding: 0!important;
    font-size: 18px;
    line-height: 0px!important;
    height: 0px!important;
    
}

.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #9fa1a0;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 17px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #f0f8fb;
    color: #309cc0;
}
.navbar-default .navbar-nav > li > a:focus {
    background-color: #309cc0;
    color: #fff;
}

.navbar-nav>li {
    float: left;
    margin: 0 5px;
}


html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.9em;
    color: #555;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.carousel .item {
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/3.jpg) no-repeat;
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(<?php echo base_url) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/3.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/3.jpg) no-repeat;
    background-size: cover;
}

.carousel .item.item2 {
    background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/notsure1.jpg) no-repeat;
    background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/notsure1.jpg) no-repeat;
    background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/notsure1.jpg) no-repeat;
    background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(../images/notsure1.jpg) no-repeat;
    background-size: cover;
}
.carousel-caption h2,
.carousel-caption h3 {
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.carousel-caption h2 span, .carousel-caption h3 span {
    font-weight: 700;
    color: #ff9900;
}
.carousel-caption p {
    letter-spacing: 7px;
    font-size: 1.1em;
    font-weight: 300;
    color: #fff;
    margin: 1em 0 1em 0;
}
.carousel-caption h6 {
    font-size: 17px;
    line-height: 1.8em;
    margin: 0 auto;
    width: 76%;
    letter-spacing: 2px;
}
/*.carousel-caption a {
    color: #fff;
    letter-spacing: 1px;
    padding: 11px 20px;
    background: none;
    font-size: 0.9em;
    border-radius: 0;
    border: 1px solid #fff;
}
.carousel-caption a:hover {
    background: #ff9900;
    border: 1px solid #ff9900;
}*/
.carousel-indicators {
    bottom: 5%;
    left: 50%;
}

.carousel-caption {
    position: inherit;
    min-height: 680px!important;
    padding-top: 15em;
    text-align: center;
}
.carousel-control {
    line-height: 32em;
}
@media(max-width:1366px) {
    .carousel-caption {
        min-height: 576px!important;
        padding-top: 10em;
    }
}
@media(max-width:1280px) {
    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 2.5em;
        font-weight: 100;
        letter-spacing: 2px;
    }
    .inner_sec_info_agileits {
        margin-top: 0em;
    }

}
@media(max-width:1080px) {
    .carousel-caption {
        min-height: 512px!important;
        padding-top: 9em;
    }
    .emergency_cases_left {
        padding-right: 4em;
    }
}
@media(max-width:1050px) {
    .carousel-control {
        line-height: 27em;
    }
}
@media(max-width:1024px) {
    .carousel-caption p {
        letter-spacing: 5px;
        font-size: 1em;
        margin: 1em 0 2em 0;
    }
}
@media(max-width:991px) {
    .carousel-caption {
        min-height: 490px!important;
        padding-top: 9em;
    }
    .carousel-caption {
        min-height: 490px!important;
        padding-top: 7em;
    }
    .heading-agileinfo span {
        font-size: 14px!important;
        letter-spacing: 2px;
    }
    .emergency_cases_right {
        padding-left: 1em;
        border-left: none;
        margin-top: 2em;
    }
    .services-top-grids {
        margin-bottom: 0;
    }
    .grid1 {
        margin-bottom: 1em;
    }
    .navbar-default {
        padding: 12px 0;
    }
    .navbar-default a.navbar-brand h1 {
        margin-top: 0px;
        padding-left: 18px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 10px 4px;
    }
    .navbar-nav>li {
        float: left;
        margin: 0 3px;
    }
}
@media(max-width:900px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
@media(max-width:800px) {
    .carousel-caption {
        min-height: 393px!important;
        padding-top: 4em;
    }
    .carousel-control {
        line-height: 22em;
    }
}
@media(max-width:768px) {
    .carousel-caption {
        min-height: 393px!important;
        padding-top: 5em;
    }
    .agile-about {
        padding: 3em 0;
    }
    .emergency_cases_bt {
        background: rgba(0, 0, 0, 0.47);
        padding: 3em 0;
    }
    .services {
        padding: 3em 0;
    }
    .tesimonials_tp {
        padding: 3em 0;
    }
}
@media(max-width:767px) {
    .content.white {
        padding: 0em 1em;
    }
    .navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    .navbar-default a.navbar-brand h1 {
        margin-top: 0;
        padding-left: 0;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none!important;
    }
    .navbar-nav {
        float: left;
        margin: 0;
        margin-left: 0em;
        width: 100%;
        background: #eee;
        margin-top: 1em;
    }
    .navbar-nav {
        float: none;
        margin: 0;
        margin-left: 0em;
        background: #eee;
        margin-top: 1em;
        padding: 1em 1em;
    }
    .navbar-nav>li {
        float: none;
        margin: 0 4px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 10px 14px;
        text-align: center;
    }
    .navbar-nav>li {
        float: none;
        margin: 3px 0px;
    }
}
@media screen and (min-width: 737px){
    .me-flex{
        display: flex;
    }
    .ab1 {
        flex:1;
    }
}
@media(max-width:736px) {
    .carousel-indicators {
        bottom: 0%;
        left: 50%;
    }
}
@media(max-width:667px) {
    .carousel-caption p {
        letter-spacing: 5px;
        font-size: 1em;
        margin: 0.5em 0 1em 0;
    }
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.4em;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
@media(max-width:640px) {
    .inner_sec_info_agileits {
        margin-top: 2em;
    }
}
@media(max-width:600px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 2.2em;
        font-weight: 100;
        letter-spacing: 2px;
    }
    .carousel-caption p {
        letter-spacing: 3px;
        font-size: 1em;
        margin: 0.5em 0 1em 0;
    }
    .heading-agileinfo span {
        line-height: 1.5em;
    }
    .heading-agileinfo span:after {
        top: 113%;
    }
}
@media(max-width:480px) {
    .carousel-caption {
        min-height: 358px!important;
        padding-top: 4em;
    }
    .carousel-control {
        line-height: 19.5em;
    }
    .carousel-caption h6 {
        font-size: 14px;
        line-height: 1.5em;
            width: 91%;
    }
    .heading-agileinfo {
        font-size: 32px;
        margin-bottom: 1em;
    }
    .emergency_cases_top {
        padding: 2em;
    }
    .inner_sec_info_agileits {
        margin-top: 0em;
    }
    .nav > li > a {
        font-size: 14px;
    }
}
@media(max-width:440px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.8em;
        font-weight: 100;
        letter-spacing: 2px;
    }
    
    .carousel-caption {
        min-height: 320px!important;
        padding-top: 3em;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
        padding: 8px 14px;
        text-align: center;
    }
    
}
@media(max-width:414px) {
    .carousel-indicators {
        bottom: -9%;
        left: 50%;
}

}
@media(max-width:384px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.8em;
        font-weight: 100;
        letter-spacing: 1px;
    }
    
    .carousel-caption p {
        margin: 0.5em 0 0.5em 0;
    }
}
@media(max-width:375px) {
    
    .carousel-caption {
        min-height: 300px!important;
        padding-top: 3em;
    }
    .carousel-control {
        line-height: 18.5em;
    }
    
}
@media(max-width:320px) {
    .carousel-caption h2, .carousel-caption h3 {
        font-size: 1.4em;
        font-weight: 100;
        letter-spacing: 1px;
    }
    .carousel-caption p {
        letter-spacing: 1px;
        font-size: 0.9em;
        margin: 0.3em 0 0em 0;
    }
    .carousel-caption {
        min-height: 283px!important;
     padding-top: 1em;
    }
    .carousel-control {
        line-height: 16.5em;
    }
    .carousel-indicators {
        bottom: -13%;
        left: 49%;
    }
    .navbar-default a.navbar-brand h1 {
        font-size:30px;
    }
    .emergency_cases_left {
        padding-right: 1em;
    }
}

.heading-agileinfo {
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    margin-bottom: 1.9em;
    text-align: center;
    color: #ff9900;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
h3.heading-agileinfo.te {
    color: #fff;
}
.agile-about{
    padding:5em 0;
}
.agileits-about-btm {
    padding: 0em 0;
}
.ab1 {
    padding: 2em;
}
.ab1 span {
    color: #000;
    font-size: 2em;
}
.ab1 h5 {
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1em 0 0.2em;
}
.ab1 p {
    color: #fff;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
}
.agileits-about-grid p {
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
}
.agileits-about-grid1 {
    /* border: 1px solid #000; */
    background: #56d9ec;
}
.agileits-about-grid2 {
    /* border: 1px solid #000; */
    border-left: none;
    border-right: none;
    background: #59c0df;
}
.agileits-about-grid3 {
    /* border: 1px solid #000; */
    background: #2da7c1;
}

h4.agileinfo-head {
    color:#ff9900;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.7em 0;
    font-size: 1.8em;
}
.emergency_cases{
    text-align: center;
    background: url(../images/notsure1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment:fixed;
}
.emergency_cases h4 {
    font-size: 23px;
    color: #ff9900;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted #968e8e;
}
.emergency_cases h6 {
    font-size: 18px;
    color: #fff;
    text-align: left;
    line-height: 36px;
}
.emergency_cases_right i {
    padding-right: 0.5em;
    color: #ff9900;
}
.emergency_cases p {
    font-size: 15px;
    text-align: left;
    line-height: 1.8em;
    color: #fff;
    margin-top:1em;
}
.emergency_cases_right {
    padding-left: 4em;
    border-left: 1px solid #fff;
}
.emergency_cases_left {
    padding-right: 8em;
}
.emergency_cases_right {
    padding-left: 4em;
}
.emergency_cases h5 {
    font-size: 38px;
    text-align: left;
    color: #fff;
    letter-spacing: 4px;
}
.emergency_cases_bt {
    background: rgba(0, 0, 0, 0.47);
    padding: 5em 0;
}
.emergency_cases_top {
    padding: 5em;
    background: rgba(0, 0, 0, 0.53);
}
span.eme {
    float: right;
}
.services {
    padding: 5em 0;
}
.services .heading h3 ,.services .heading p{
    color: #fff;
}
.services-top-grids {
    margin-bottom: 30px;
}
.grid1 {
    text-align: center;
    background: #e0e0e0;
    background: #ffc107;
    background: #fff;
    padding: 25px 40px;
    -webkit-box-shadow: 0 0 40px #aaa;
    -moz-box-shadow: 0 0 40px #aaa;
    box-shadow: 0 0 40px #aaa;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    box-shadow:0px 1px 8px 0px rgba(158, 158, 158, 0.75);
}
.grid1:hover {
    background: #5cb5ec;
}
.grid1 h4 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 25px 0 20px;
    color: #ff9900;
    font-weight: 600;
}
.grid1 p {
    font-size: 14px;
    letter-spacing: .5px;
    color: #6b6b6b;
}
.tesimonials {
    text-align: center;
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    
}
.tesimonials_tp {
    background: rgba(0, 0, 0, 0.47);
    padding: 5em 0;
}

.footer_agile{
	background: #0f0f10;
	padding: 1em 0;
}
.footer_agile p {
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 16px;
}
